.webgl {
  position: relative;
  top: 0;
  left: 0;
  outline: none;
}

main {
  display: flex;
}

aside {
  background-color: gray;
  color: white;
  padding-right: 2rem;
}

#spawn {
  cursor: pointer;
}
