.webgl {
  position: relative;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
}

main {
  display: flex;
}

aside {
  background-color: gray;
  color: white;
  height: 200px;
}

#spawn {
  cursor: pointer;
}

.entity {
  color: white;
  background-color: gray;
}

.entity,
aside {
  margin: 0 4rem;
  width: 200px;
}

.container {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
