.webgl {
  position: relative;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
}

main {
  display: flex;
}

aside {
  background-color: gray;
  color: white;
  height: 200px;
}

#spawn {
  cursor: pointer;
}

.entity {
  color: white;
  background-color: gray;
}

.entity,
aside {
  margin: 0 4rem;
  width: 200px;
}

.container {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Context Menu */
#context-menu {
  position: fixed;
  width: 150px;
  background-color: gray;
  z-index: 100000;
  transform: scale(0);
  transform-origin: top left;
}

.active {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: aliceblue;
}

#context-menu .item:hover {
  background-color: lightslategray;
}
